RewriteEngine On

# Remove .html extension for direct requests
RewriteCond %{THE_REQUEST} ^GET\s([^.]+)\.html [NC]
RewriteRule ^ %1 [L,R=301]

# Internally rewrite requests without .html to the actual .html files
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^([^/]+)/?$ $1.html [L]

# Handle requests for subdirectories as well
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}/index.html -f
RewriteRule ^([^/]+)/?$ $1/index.html [L]
